hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:red;
    height: 3px;
    margin-top: 50px;
  }
  .messenger-icon{
    margin-right: 22px;
}
@media screen and  (min-width: 952px){
#btnid{
    text-align: center;
    position: fixed;
    left: 80%;
    bottom: 10%;
    border-radius: 15px;
    font-size: 16px;
    height: 60px;
    background-color: rgb(45, 107, 189) !important;
    border: 2px solid rgb(45, 107, 189) !important;
    white-space: nowrap;
    font-weight: bold;   
 
}

}

@media screen and  (max-device-width: 951px){

    #btnid{
        border-radius: 15px;
        font-size: 16px;
        height: 50px;
        background-color: rgb(45, 107, 189) !important;
        border: 2px solid rgb(45, 107, 189) !important;
        white-space: nowrap;
        font-weight: bold;   
        display: block;
        margin-left: auto;
        margin-right: auto;

       
    }
   
      

}