<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="formText">Suivez-Nous</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="icon-classFacebook" src="../../assets/image/facebook.png" />

        </div>
        <div class="col-4">

            <img class="icon-classTwitter" src="../../assets/image/twitter.png" />

        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <p class="formTextDetail">Recevez les derniere infos du CNEAC</p>
        </div>
    </div>

    <div class="row">
        <div class="col-7">
            <input type="text" class="col-12 form-control" placeholder="Adresse Email">
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-white  btn-md my-0">Je m'inscris</button>
        </div>



    </div>
</div>